
       
       @import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
       
       #fairy{
            background-color: #c44569;
            text-align: center ;
            font-family: "Briem Hand", cursive;
            margin:100px;
            padding: 20px 20px 10px 10px;
            border: 10px solid #f78fb3;

        }

        .class_Id{

            background-color: #ea8685;
            text-align: center ;
            
        }

        p{
            color: black;
           

        }
        body{
            background-image: url("/img/pri.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;           
        }

        .box1{
                width:50px;
                height:50px;
                background-color: red;
                position: relative;
                top: 50px;
                left: 50px;
                position: sticky;
                z-index: -1;
        }

        .box2{
            width:150px;
            height:150px;
            background-color: blueviolet;
            position: relative;
            top: 0px;
            left: 0px;
            
         }


